body {
    margin: 0px;
    background-color: #fcdf99;
    text-align: center !important;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
}

img {
    align-items: center;
    width: 80%;
}

h1 {
    margin-right: 10px;
}

footer {
    background-color: lightgreen;
    padding: 100px;
}

.asdasd {
    background-color: lightgreen;
    padding: 125px;
    margin-bottom: 30px;
}
